*.beam
.eunit
ebin/*.app
/deps/
/2011.pdf
/2011.png
/dhw2011.csv
/dhw2011.png
/rating_output.csv
/out.png
/plot.Rout
/rel/qlglicko
/.backend-api.plt
/.qlglicko.plt
/apps/qlglicko/ebin/qlglicko.app
/rankings.pdf
/rankings.png
/.RData
/plot2.Rout
/binhex.pdf
/ladder.pdf
/volatility.pdf
/rankings_dhs_2012.pdf
/rankings_dhs_2012.png
/dhs.Rout
/current_counterexample.eqc
/Rplots.pdf
