{sub_dirs, ["rel"]}.

{cover_enabled, true}.
{require_otp_vsn, "R15|R16|(17.*)"}.
{erl_opts, [debug_info, fail_on_warning]}.

{deps, [
        {qlglicko_core, ".*",
         {git, "git@github.com:jlouis/qlglicko_core.git", {branch, "master"}}},
        {qlglicko_web, ".*",
         {git, "git@github.com:jlouis/qlglicko_web.git", {branch, "master"}}}
        ]}.

