{require_otp_vsn, "R15"}.

{cover_enabled, true}.

{erl_opts, [debug_info]}.


{deps, [
        {epgsql, ".*",
         {git, "git://github.com/wg/epgsql.git",
          {branch, "master"}}},
        {lager, ".*",
         {git, "git://github.com/basho/lager.git",
          {branch, "master"}}},
        {gproc, ".*",
         {git, "git://github.com/uwiger/gproc.git",
          {branch, "master"}}},
        {jsx, ".*",
         {git, "git://github.com/talentdeficit/jsx.git",
          {branch, "master"}}},
        {riakc, ".*",
         {git, "git://github.com/basho/riak-erlang-client.git",
          {branch, "master"}}},
       {jobs, ".*", {git, "git://github.com/esl/jobs.git", {branch, "master"}}}
]}.

{sub_dirs, ["apps/qlglicko"]}.
{lib_dirs, ["apps"]}.
