{require_otp_vsn, "R15|R16"}.

{cover_enabled, true}.

{erl_opts, [debug_info,
            {parse_transform, lager_transform}]}.

{deps, [
        {lager, ".*",
         {git, "git://github.com/basho/lager.git",
          {branch, "master"}}},
        {dispcount, ".*",
         {git, "git://github.com/ferd/dispcount.git",
          {branch, "master"}}},
          {epgsql, ".*",
         {git, "git://github.com/wg/epgsql.git",
          {branch, "master"}}},
        {gproc, ".*",
         {git, "git://github.com/uwiger/gproc.git",
          {branch, "master"}}},
        {jsx, ".*",
         {git, "git://github.com/talentdeficit/jsx.git",
          {branch, "master"}}},
        {jobs, ".*",
         {git, "git://github.com/esl/jobs.git",
          {branch, "master"}}},
        {eper, ".*",
         {git, "git://github.com/massemanet/eper.git",
          {branch, "master"}}},
        {sfmt, ".*",
         {git, "git://github.com/jj1bdx/sfmt-erlang.git",
          {branch, "master"}}}
        ]}.

{sub_dirs, ["apps/qlglicko", "rel"]}.
{lib_dirs, ["apps"]}.
