{release, {qlglicko, "0.1.0"},
 [{qlglicko_core, permanent},
  {qlglicko_web, permanent},
  {xmlerl, temporary}
 ]}.
 
{extended_start_script, true}.
{sys_config, "rel/sys.config"}.
 
{overlay, [
    {mkdir, "log"},
    {copy, "rel/vm.args",
        "releases/\{\{release_name\}\}-\{\{release_version\}\}/vm.args"}
]}.
