{sys, [
       {lib_dirs, ["../deps"]},
       {rel, "qlglicko", "0.0.1",
        [
         kernel,
         stdlib,
         sasl,
         {os_mon, transient},
         {lager, transient},
         {gproc, transient},
         jsx,
         {jobs, transient},
         epgsql,
         crypto, ranch, cowboy,
         qlglicko_web,
         {qlglicko_core, transient}
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "qlglicko"},
       {profile, embedded},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, sasl, [{incl_cond, include}]},
       {app, hipe, [{incl_cond, exclude}]},
       {app, lager, [{incl_cond, include}]},
       {app, qlglicko_core, [{incl_cond, include}]},
       {app, sfmt, [{incl_cond, include}]}
      ]}.

{target_dir, "qlglicko"}.

{overlay, [
           {mkdir, "log"},
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "files/qlglicko", "bin/qlglicko"},
           {copy, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
           {copy, "files/qlglicko.cmd", "bin/qlglicko.cmd"},
           {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
           {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"}
          ]}.
