[
 {qlglicko_core,
  [
   {postgres, {"localhost", "qlglicko", "MajikkegCo", "qlglicko"}},
   {db_pools,
      [{processing,
        [{size, 3},
         {max_overflow, 5}],
        [{hostname, "127.0.0.1"},
         {database, "qlglicko"},
         {username, "qlglicko_processing"},
         {password, "0okTivlur7"}] },
       {web,
        [{size, 10},
         {max_overflow, 20}],
        [{hostname, "127.0.0.1"},
         {database, "qlglicko"},
         {username, "qlglicko_web"},
         {password, "Diwikeefum"}] }]},
     {default_ranking, {1500, 350, 0.06}},
     {refill_enable, true}]},
 {safetyvalve,
   [{queues,
      [{ql_fetch,
        [{hz, 1900}, % Poll the queue every 1900 ms
         {rate, 2},  % Produce 2 requests per poll
         {token_limit, 3}, % Allow a 3 token burst
         {size, 131}, % Keep at most 131 tasks waiting
         {concurrency, 3}]}]}]},
 {lager,
  [{handlers,
    [{lager_console_backend, info},
     {lager_file_backend, [{file, "log/error.log"}, {level, error}]},
     {lager_file_backend, [{file, "log/console.log"}, {level, info}]}
    ]},
   {crash_log, "log/crash.log"},
   {crash_log_msg_size, 65536},
   {crash_log_size, 10485760},
   {crash_log_date, "$D0"},
   {crash_log_count, 5} ]},
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]}
].

